<div class="cal-row-fluid cal-row-head">
	<% _.each(days_name, function(name){ %>
		<div class="cal-cell1">&lt;%= name %></div>
	&lt;% }) %>
</div>
<div class="cal-month-box">
	&lt;% for(i = 0; i &lt; 6; i++) { %>
		&lt;% if(cal.stop_cycling == true) break; %>
		<div class="cal-row-fluid cal-before-eventlist">
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">&lt;%= cal._day(i, day++) %></div>
			<div class="cal-cell1 cal-cell" data-cal-row="-day2">&lt;%= cal._day(i, day++) %></div>
			<div class="cal-cell1 cal-cell" data-cal-row="-day3">&lt;%= cal._day(i, day++) %></div>
			<div class="cal-cell1 cal-cell" data-cal-row="-day4">&lt;%= cal._day(i, day++) %></div>
			<div class="cal-cell1 cal-cell" data-cal-row="-day5">&lt;%= cal._day(i, day++) %></div>
			<div class="cal-cell1 cal-cell" data-cal-row="-day6">&lt;%= cal._day(i, day++) %></div>
			<div class="cal-cell1 cal-cell" data-cal-row="-day7">&lt;%= cal._day(i, day++) %></div>
		</div>
	&lt;% } %>
</div>
